<!DOCTYPE html>
<html>
<title>Alpha Blog!</title>
<body style= "background-color:lightgray;">
<img src="http://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com">
<h1></h1>
<p>stuff about goes here!</p>

<%= link_to 'Home', root_path%>
<%= link_to 'About', about_path%> 

</body>
</html>